{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/main.css' 'styles/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/materialize-collapsible.css' %}" />

        <script src="{% static 'scripts/main.js' %}" defer></script>
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Final List - {% block title %}{% endblock %}</title> 
    </head>
    <body >
      <nav>
        <ul>
          <a href="/"><li>Home</li></a>
         
          {% if user.is_authenticated %}
          <span>Welcome: {{user.username}}</span>
            <a href="/lists"><li>My Lists</li></a>
            <!-- <a href="new/"><li>New List</li></a> -->
            <!-- <a href="{% url 'password_reset' %}">Reset Password</a> -->
            <a href="{% url 'logout' %}"><li>Logout</li></a>
            
            {% else %}
            <a href="{% url 'login' %}"><li>Login</li></a>
            <a href="{% url 'signup' %}"><li>Signup</li></a>
          {% endif %}
          <!-- <li>User</li> -->
        </ul>
      </nav>
      
        <div class="container">
            {% block content %}{% endblock %}

        </div>
      </div>
    </div>
    <script>
      M.AutoInit();
      </script>
  </body>
</html>