{% extends 'base.html' %}
{% block content %}
<p></p>
<h2>{{ list.name }}: Details</h2>
    <h6>{{ list.details }}</h6>
    <span>{{ list.created_at }} {{ list.type }}</span>
       

   
    <ul class="collapsible">
        {% for item in items %}
    <li>
        
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ item.name }}</div>
        <div class="collapsible-body">
            <span>{{ item.details }}
                {{ item.priority }}
            {% if item.time_estimate != '0' %}
            No time estimate
            {% else %}
            {{ item.time_estimate }}
            </span>
            
        {% endif %}
        </div>
       
    </li>
    {% endfor %}
    </ul>

{% endblock %}