{% extends 'base.html' %}
{% block content %}

<h1>My Lists</h1>
<a href="{% url 'list_create' %}">New List</a>
<ul class="collapsible">
  {% for list in lists %}
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ list.name }}</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    {% endfor%}
    <!-- <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li> -->
  </ul>



{% endblock %}
